In [2]:
import json
import plotly.express as px
import pandas as pd
from datetime import datetime
import numpy as np
import json
import warnings
import geojson
import plotly.graph_objs as go
from prophet import Prophet
warnings.filterwarnings("ignore")

## Data Preparation

### Our World in Data

In [78]:
# Sort dataframe by date
df = df.sort_values(by="date")

# Convert date to pd datetime object
df['date'] = pd.to_datetime(df.date,format='%Y-%m-%d')

# Extracting day month year from date
df['month'] = df['date'].dt.month
df['year'] = df['date'].dt.year
df['month_year'] = df['date'].dt.to_period('M')

In [79]:
# Since there is no data available before, we will shorten the dataframe 
df = df[df.date > "2020-01-22"]

# Aggregate the data on a monthly basis for each country 
df = df.groupby(['iso_code','month_year','month','year','location','continent']).sum().reset_index()

# Sort dataframe by month
df = df.sort_values(by="month_year")

# To extract only data regarding Germany
germany = df[df.location == 'Germany']

### DIVI

Anreicherung der DIVI Daten um die Infos der Landkreise sowie hinzufügen des Bundeslandes als Name.
Die Daten werden aus einer Geojson Datei gewonnen.

In [80]:
path_to_file = 'landkreise.geojson'
with open(path_to_file) as f:
    land_geojson= geojson.load(f)

In [81]:
land_geojson['features'][0]['properties']

{'ADE': 4,
 'GF': 4,
 'BSG': 1,
 'RS': '01001',
 'AGS': '01001',
 'SDV_RS': '010010000000',
 'GEN': 'Flensburg',
 'BEZ': 'Kreisfreie Stadt',
 'IBZ': 40,
 'BEM': '--',
 'NBD': 'ja',
 'SN_L': '01',
 'SN_R': '0',
 'SN_K': '01',
 'SN_V1': '00',
 'SN_V2': '00',
 'SN_G': '000',
 'FK_S3': 'R',
 'NUTS': 'DEF01',
 'RS_0': '010010000000',
 'AGS_0': '01001000',
 'WSK': '2008/01/01',
 'DEBKG_ID': 'DEBKGDL20000002R'}

AGS steht für den Gemeindeschlüssel im DIVI Datensatz. Desweiteren enthält die Geojson noch den Name des Landkreises.

In [83]:
# Alle Landkreise werden in einer Liste abgespeichert
codes = divi['gemeindeschluessel'].astype('int').drop_duplicates()
codes = codes.tolist()

dict_codes = {}

# Da die Daten in der DIVI Datei teilweise 4- bzw. 5 stellig vorliegen, sollen diese 5stellig standardisiert werden. Bsp. 1001 wird zu 01001
# Die alten Codes aus der DIVI Datei werden mit den standardisierten in einem Dictionary abgespeichert 

for x in range(0,len(codes)):
   
    code = codes[x]

    if code < 10000:
        dict_codes[code] = "0"+str(code)
    else:
        dict_codes[code] = str(code)
dict_codes

{1001: '01001',
 1002: '01002',
 1003: '01003',
 1004: '01004',
 1051: '01051',
 1053: '01053',
 1054: '01054',
 1055: '01055',
 1056: '01056',
 1057: '01057',
 1058: '01058',
 1059: '01059',
 1060: '01060',
 1061: '01061',
 1062: '01062',
 2000: '02000',
 3101: '03101',
 3102: '03102',
 3103: '03103',
 3151: '03151',
 3153: '03153',
 3154: '03154',
 3155: '03155',
 3157: '03157',
 3158: '03158',
 3159: '03159',
 3241: '03241',
 3251: '03251',
 3252: '03252',
 3254: '03254',
 3255: '03255',
 3256: '03256',
 3257: '03257',
 3351: '03351',
 3352: '03352',
 3353: '03353',
 3354: '03354',
 3355: '03355',
 3356: '03356',
 3357: '03357',
 3358: '03358',
 3359: '03359',
 3360: '03360',
 3361: '03361',
 3401: '03401',
 3402: '03402',
 3403: '03403',
 3404: '03404',
 3405: '03405',
 3451: '03451',
 3452: '03452',
 3453: '03453',
 3454: '03454',
 3455: '03455',
 3456: '03456',
 3457: '03457',
 3458: '03458',
 3459: '03459',
 3460: '03460',
 3461: '03461',
 3462: '03462',
 4011: '04011',
 4012: '04012',
 5111: '05111',
 5112: '05112',
 5113: '05113',
 5114: '05114',
 5116: '05116',
 5117: '05117',
 5119: '05119',
 5120: '05120',
 5122: '05122',
 5124: '05124',
 5154: '05154',
 5158: '05158',
 5162: '05162',
 5166: '05166',
 5170: '05170',
 5314: '05314',
 5315: '05315',
 5316: '05316',
 5334: '05334',
 5358: '05358',
 5362: '05362',
 5366: '05366',
 5370: '05370',
 5374: '05374',
 5378: '05378',
 5382: '05382',
 5512: '05512',
 5513: '05513',
 5515: '05515',
 5554: '05554',
 5558: '05558',
 5562: '05562',
 5566: '05566',
 5570: '05570',
 5711: '05711',
 5754: '05754',
 5758: '05758',
 5762: '05762',
 5766: '05766',
 5770: '05770',
 5774: '05774',
 5911: '05911',
 5913: '05913',
 5914: '05914',
 5915: '05915',
 5916: '05916',
 5954: '05954',
 5958: '05958',
 5962: '05962',
 5966: '05966',
 5970: '05970',
 5974: '05974',
 5978: '05978',
 6411: '06411',
 6412: '06412',
 6413: '06413',
 6414: '06414',
 6431: '06431',
 6432: '06432',
 6433: '06433',
 6434: '06434',
 6435: '06435',
 6436: '06436',
 6437: '06437',
 6438: '06438',
 6439: '06439',
 6440: '06440',
 6531: '06531',
 6532: '06532',
 6533: '06533',
 6534: '06534',
 6535: '06535',
 6611: '06611',
 6631: '06631',
 6632: '06632',
 6633: '06633',
 6634: '06634',
 6635: '06635',
 6636: '06636',
 7111: '07111',
 7131: '07131',
 7132: '07132',
 7133: '07133',
 7134: '07134',
 7135: '07135',
 7137: '07137',
 7138: '07138',
 7140: '07140',
 7141: '07141',
 7143: '07143',
 7211: '07211',
 7231: '07231',
 7232: '07232',
 7233: '07233',
 7235: '07235',
 7311: '07311',
 7312: '07312',
 7313: '07313',
 7314: '07314',
 7315: '07315',
 7316: '07316',
 7317: '07317',
 7318: '07318',
 7319: '07319',
 7320: '07320',
 7331: '07331',
 7332: '07332',
 7333: '07333',
 7334: '07334',
 7335: '07335',
 7336: '07336',
 7337: '07337',
 7339: '07339',
 7340: '07340',
 8111: '08111',
 8115: '08115',
 8116: '08116',
 8117: '08117',
 8118: '08118',
 8119: '08119',
 8121: '08121',
 8125: '08125',
 8126: '08126',
 8127: '08127',
 8128: '08128',
 8135: '08135',
 8136: '08136',
 8211: '08211',
 8212: '08212',
 8215: '08215',
 8216: '08216',
 8221: '08221',
 8222: '08222',
 8225: '08225',
 8226: '08226',
 8231: '08231',
 8235: '08235',
 8236: '08236',
 8237: '08237',
 8311: '08311',
 8315: '08315',
 8316: '08316',
 8317: '08317',
 8325: '08325',
 8326: '08326',
 8327: '08327',
 8335: '08335',
 8336: '08336',
 8337: '08337',
 8415: '08415',
 8416: '08416',
 8417: '08417',
 8421: '08421',
 8425: '08425',
 8426: '08426',
 8435: '08435',
 8436: '08436',
 8437: '08437',
 9161: '09161',
 9162: '09162',
 9163: '09163',
 9171: '09171',
 9172: '09172',
 9173: '09173',
 9174: '09174',
 9176: '09176',
 9177: '09177',
 9178: '09178',
 9179: '09179',
 9180: '09180',
 9181: '09181',
 9182: '09182',
 9183: '09183',
 9184: '09184',
 9185: '09185',
 9186: '09186',
 9187: '09187',
 9188: '09188',
 9189: '09189',
 9190: '09190',
 9261: '09261',
 9262: '09262',
 9263: '09263',
 9271: '09271',
 9272: '09272',
 9273: '09273',
 9274: '09274',
 9275: '09275',
 9276: '09276',
 9277: '09277',
 9278: '09278',
 9279: '09279',
 9361: '09361',
 9362: '09362',
 9363: '09363',
 9371: '09371',
 9372: '09372',
 9373: '09373',
 9375: '09375',
 9376: '09376',
 9461: '09461',
 9462: '09462',
 9463: '09463',
 9464: '09464',
 9471: '09471',
 9472: '09472',
 9474: '09474',
 9475: '09475',
 9476: '09476',
 9477: '09477',
 9478: '09478',
 9479: '09479',
 9561: '09561',
 9562: '09562',
 9563: '09563',
 9564: '09564',
 9571: '09571',
 9572: '09572',
 9574: '09574',
 9575: '09575',
 9576: '09576',
 9577: '09577',
 9661: '09661',
 9662: '09662',
 9663: '09663',
 9671: '09671',
 9672: '09672',
 9673: '09673',
 9674: '09674',
 9675: '09675',
 9676: '09676',
 9677: '09677',
 9678: '09678',
 9679: '09679',
 9761: '09761',
 9762: '09762',
 9763: '09763',
 9764: '09764',
 9771: '09771',
 9772: '09772',
 9773: '09773',
 9774: '09774',
 9775: '09775',
 9776: '09776',
 9777: '09777',
 9778: '09778',
 9779: '09779',
 9780: '09780',
 10041: '10041',
 10042: '10042',
 10043: '10043',
 10044: '10044',
 10045: '10045',
 10046: '10046',
 11000: '11000',
 12051: '12051',
 12052: '12052',
 12053: '12053',
 12054: '12054',
 12060: '12060',
 12061: '12061',
 12062: '12062',
 12063: '12063',
 12064: '12064',
 12065: '12065',
 12066: '12066',
 12067: '12067',
 12068: '12068',
 12069: '12069',
 12070: '12070',
 12071: '12071',
 12072: '12072',
 12073: '12073',
 13003: '13003',
 13004: '13004',
 13071: '13071',
 13072: '13072',
 13073: '13073',
 13074: '13074',
 13075: '13075',
 13076: '13076',
 14511: '14511',
 14521: '14521',
 14522: '14522',
 14523: '14523',
 14524: '14524',
 14612: '14612',
 14625: '14625',
 14626: '14626',
 14627: '14627',
 14628: '14628',
 14713: '14713',
 14729: '14729',
 14730: '14730',
 15001: '15001',
 15002: '15002',
 15003: '15003',
 15081: '15081',
 15082: '15082',
 15083: '15083',
 15084: '15084',
 15085: '15085',
 15086: '15086',
 15087: '15087',
 15088: '15088',
 15089: '15089',
 15090: '15090',
 15091: '15091',
 16051: '16051',
 16052: '16052',
 16053: '16053',
 16054: '16054',
 16055: '16055',
 16056: '16056',
 16061: '16061',
 16062: '16062',
 16063: '16063',
 16064: '16064',
 16065: '16065',
 16066: '16066',
 16067: '16067',
 16068: '16068',
 16069: '16069',
 16070: '16070',
 16071: '16071',
 16072: '16072',
 16073: '16073',
 16074: '16074',
 16075: '16075',
 16076: '16076',
 16077: '16077',
 9175: '09175',
 9565: '09565',
 9377: '09377'}

In [84]:
# Der neue Standardisierte Gemeindeschlüssel wird aus dem Dictionary über den bisherigen identifiziert und als neue Spalte dem Datensatz angehängt. 
divi["id"] = divi["gemeindeschluessel"].apply(lambda x: dict_codes[x])

# Die Bundesländer werden ebenfalls in einem Dictionary mit dem jeweiligen Bundesländercode versehen
bundesland = ["Schleswig-Holstein","Hamburg","Niedersachsen","Bremen","Nordrhein-Westfalen","Hessen","Rheinland-Pfalz","Baden-Württemberg","Bayern","Saarland","Berlin","Brandenburg","Mecklenburg-Vorpommern","Sachsen","Sachsen-Anhalt","Thüringen"]
code = range(1,17)
bund_code = dict(zip(code, bundesland))

# Der Name des Bundeslandes wird über den Code im Dictionary identifiziert
divi["bundesland_name"] = divi["bundesland"].apply(lambda x: bund_code[x])

# Die Landkreise werden mit dem Gemeindeschlüssel in einem Dictionary gespeichert
dict_landkreise = {}
for feature in land_geojson['features']:
    dict_landkreise[feature["properties"]["AGS"]] = feature["properties"]["GEN"]

# Der Landkreisname wird über die jeweilige standardisierte ID identifiziert und dem Datensatz hinzugefügt
divi["name"] = divi["id"].apply(lambda x: dict_landkreise[x])

In [85]:
# Datensatz wird auf die benötigten Spalten reduziert
divi = divi[['date','id', 'bundesland_name', 'name','faelle_covid_aktuell',
       'faelle_covid_aktuell_invasiv_beatmet', 'betten_frei', 'betten_belegt']]
divi.head()

,date,id,bundesland_name,name,faelle_covid_aktuell,faelle_covid_aktuell_invasiv_beatmet,betten_frei,betten_belegt
0,2020-04-24,01001,Schleswig-Holstein,Flensburg,1,1,40,38
1,2020-04-24,01002,Schleswig-Holstein,Kiel,4,3,93,108
2,2020-04-24,01003,Schleswig-Holstein,Lübeck,4,4,109,108
3,2020-04-24,01004,Schleswig-Holstein,Neumünster,1,1,17,21
4,2020-04-24,01051,Schleswig-Holstein,Dithmarschen,3,1,47,25

### RKI

In [86]:
# Dataset wird gefiltert
rki = rki[rki.LandkreisId_Impfort != "u"]

# Landkreis Ids werden als integer markiert
rki.LandkreisId_Impfort = rki.LandkreisId_Impfort.astype('int')

#### Anreicherung der Daten mit 5-stelligen Landkreis Ids

Die Landkreis Ids ohne Duplikate in einer List gespeichert.

In [91]:
lk = rki.LandkreisId_Impfort.drop_duplicates().tolist()
lk[:5]

[1003, 1053, 1055, 1056, 1057]

Da die Landkreise nicht alle 5-stellig vorliegen, wird ein dictionary mit dem 4-stelligen und dem 5-stelligen Wert gebildet. Den 4-stelligen Zahlen wird an der ersten Stelle eine 0 hinzugefügt.

So entsteht bspw. das Key-Value Paar:
1003:01003

Ist die Zahl bereits fünfstellig, so wird der Wert der Liste gespiegelt.
12002:12002

In [92]:
dict_ids = {}
for x in lk:
    if x < 10000:
        dict_ids[x] = "0"+str(x)
    else:
        dict_ids[x] = str(x)
dict_ids[1003], dict_ids[10042]

('01003', '10042')

Die neue Id wird über die Column LandkreisId_Impfort, deren Wert als Key im Dictionary vorliegt, als neue Spalte im Datensatz angelegt.

In [93]:
rki['Id'] = rki["LandkreisId_Impfort"].apply(lambda x: dict_ids[x])
# Die alte Id wird aus dem Datensatz gelöscht
rki = rki.drop('LandkreisId_Impfort',axis=1)
# Da keine Id mit 17000 in der Realität existiert, wird diese aus dem Datensatz entfernt
rki = rki[rki.Id != '17000']

Da nun die vollständigen Ids der Landkreise vorliegen, können die Daten nun mit Informationen aus der geojson angereichert werden.

In [94]:
rki["Name"] = rki["Id"].apply(lambda x: dict_landkreise[x])
rki.head()

In [95]:
rki.head()

    Impfdatum Altersgruppe  Impfschutz  Anzahl     Id                 Name
0  2020-12-27        18-59           1       9  01003               Lübeck
1  2020-12-27          60+           1      19  01003               Lübeck
2  2020-12-27        18-59           1      13  01053  Herzogtum Lauenburg
3  2020-12-27          60+           1     200  01053  Herzogtum Lauenburg
4  2020-12-27        18-59           1      20  01055          Ostholstein

In [96]:
divi

,date,id,bundesland_name,name,faelle_covid_aktuell,faelle_covid_aktuell_invasiv_beatmet,betten_frei,betten_belegt
0,2020-04-24,01001,Schleswig-Holstein,Flensburg,1,1,40,38
1,2020-04-24,01002,Schleswig-Holstein,Kiel,4,3,93,108
2,2020-04-24,01003,Schleswig-Holstein,Lübeck,4,4,109,108
3,2020-04-24,01004,Schleswig-Holstein,Neumünster,1,1,17,21
4,2020-04-24,01051,Schleswig-Holstein,Dithmarschen,3,1,47,25
...,...,...,...,...,...,...,...,...
249533,2022-01-12,16073,Thüringen,Saalfeld-Rudolstadt,6,3,6,16
249534,2022-01-12,16074,Thüringen,Saale-Holzland-Kreis,1,0,4,4
249535,2022-01-12,16075,Thüringen,Saale-Orla-Kreis,2,1,0,4
249536,2022-01-12,16076,Thüringen,Greiz,2,1,2,8
249537,2022-01-12,16077,Thüringen,Altenburger Land,4,1,8,24

Die RKI Daten werden mit den DIVI Daten gemerged und darum ergänzt.

In [97]:
rki = pd.merge(rki,divi[['id','bundesland_name']].drop_duplicates(), left_on=["Id"], right_on=["id"], how="left")
rki = rki.drop('id',axis=1)
rki.head()

,Impfdatum,Altersgruppe,Impfschutz,Anzahl,Id,Name,bundesland_name
0,2020-12-27,18-59,1,9,01003,Lübeck,Schleswig-Holstein
1,2020-12-27,60+,1,19,01003,Lübeck,Schleswig-Holstein
2,2020-12-27,18-59,1,13,01053,Herzogtum Lauenburg,Schleswig-Holstein
3,2020-12-27,60+,1,200,01053,Herzogtum Lauenburg,Schleswig-Holstein
4,2020-12-27,18-59,1,20,01055,Ostholstein,Schleswig-Holstein

In [98]:
# Der Impfschutz ist als Integer hinterlegt und wird nun mit einem Wert versehen, der selbstsprechend ist
rki.loc[rki.Impfschutz == 1, "Impfschutz"] = "Erstimpfung"
rki.loc[rki.Impfschutz == 2, "Impfschutz"] = "Zweitimpfung"
rki.loc[rki.Impfschutz == 3, "Impfschutz"] = "Boosterimpfung"

#Die Spalten werden umbenannt
rki.columns = ['Datum','Altersgruppe','Impfschutz','Anzahl','Id','Landkreis','Bundesland']
rki.head()

,Datum,Altergruppe,Impfschutz,Anzahl,Id,Landkreis,Bundesland
0,2020-12-27,18-59,Erstimpfung,9,01003,Lübeck,Schleswig-Holstein
1,2020-12-27,60+,Erstimpfung,19,01003,Lübeck,Schleswig-Holstein
2,2020-12-27,18-59,Erstimpfung,13,01053,Herzogtum Lauenburg,Schleswig-Holstein
3,2020-12-27,60+,Erstimpfung,200,01053,Herzogtum Lauenburg,Schleswig-Holstein
4,2020-12-27,18-59,Erstimpfung,20,01055,Ostholstein,Schleswig-Holstein

### Prophet

Für den Forecast muss das DIVI Dataset nochmal angepasst werden. Prophet benötigt für den Forecast zwei Spalten: das Datum und den y-Wert, der vorhergesagt werden soll. Diese beiden Spalten müssen im Datensatz als ds und y hinterlegt sein.

In [100]:
cases_prophet= divi[['date','faelle_covid_aktuell']].groupby('date').sum().reset_index()
cases_prophet.columns = ['ds','y']

In [101]:
cases_prophet.head()

           ds     y
0  2020-04-24  2650
1  2020-04-25  2543
2  2020-04-26  2529
3  2020-04-27  2471
4  2020-04-28  2394

## Predictive Modeling

In [105]:
m = Prophet(interval_width=0.95,changepoint_prior_scale=0.01,seasonality_mode='multiplicative',daily_seasonality=True,weekly_seasonality=True,yearly_seasonality=True,changepoint_range=0.9)
m.fit(cases_prophet)
# Die nächsten 90 Tage werden vorhergesagt
future = m.make_future_dataframe(periods=90)
forecast = m.predict(future)
# Der ursprüngliche y-Wert wird dem Datensatz hinzugefügt.
forecast['y'] = cases_prophet['y']

# Der Forecast wird in einem separaten Datensatz abgespeichert. Es werden nur Zeilen betrachtet, die in der Zukunft liegen und daher keinen y-Wert haben.
pred = forecast[forecast.y.isna()]
pred[['ds','y','yhat']].describe()

Initial log joint probability = -33.3148
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
      99       1556.16     0.0099208       1200.94      0.8675      0.8675      123
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     167       1620.45   0.000351183       1027.31    5.41e-07       0.001      251  LS failed, Hessian reset
     199       1625.17    0.00159692        404.82      0.3575           1      292
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     299       1651.03     0.0010482        398.06       0.853       0.853      416
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     399       1668.87    0.00406088       1234.43           1           1      552
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     453       1673.12   0.000269026       1091.94   7.392e-07       0.001      662  LS failed, Hessian reset
     499       1673.88   0.000102685       314.784           1           1      723
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     599       1677.58    0.00154684       378.374      0.3145           1      852
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     699       1685.21    0.00120487       565.874       5.251      0.7873      994
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     799       1688.07   8.02775e-05       324.016           1           1     1133
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     899       1690.58    0.00038631       462.462      0.6316      0.6316     1269
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     999       1691.86   4.03513e-06        313.95      0.6055      0.6055     1408
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    1099       1692.16   8.37942e-06       380.566      0.5499      0.5499     1547
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    1111       1692.17   1.17661e-05       350.728   3.086e-08       0.001     1604  LS failed, Hessian reset
    1199       1692.27   5.00052e-06       294.729           1           1     1735
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    1299        1693.8    0.00220517       330.646           1           1     1867
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    1388       1694.44   1.53938e-05        313.51   4.051e-08       0.001     2038  LS failed, Hessian reset
    1399       1694.45   4.08026e-06       256.575           1           1     2050
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    1414       1694.45   7.67968e-07       302.269   2.012e-09       0.001     2107  LS failed, Hessian reset
    1424       1694.45   1.24606e-08        257.96      0.2712      0.2712     2120
Optimization terminated normally:
  Convergence detected: relative gradient magnitude is below tolerance

         y         yhat
count  0.0    90.000000
mean   NaN  1259.816367
std    NaN   895.866484
min    NaN   230.600608
25%    NaN   534.982713
50%    NaN   898.791357
75%    NaN  1901.822932
max    NaN  3294.127617

Sollte der Forecast negative Fallzahlen vorhersagen, dann werden diese mit einer 0 versehen.
Die Spalte 'yhat' sind die vorhergesagten Fallzahlen. yhat_lower und yhat_upper stellen das Konfidenzintervall dar.

In [106]:
pred.loc[pred['yhat'] < 0, 'yhat'] = 0
pred.loc[pred['yhat_lower'] < 0, 'yhat_lower'] = 0
pred.loc[pred['yhat_upper'] < 0, 'yhat_upper'] = 0